udi_interface >= 3.0.8
urllib3
uplink == 0.9.7
marshmallow >= 3.5.1
marshmallow-dataclass >= 7.5.0
inflection >= 0.4.0
marshmallow_enum >= 1.5.1
PyOpenSSL >= 19.1.0
paho-mqtt >= 1.6.1
attrdict >= 2.0.1
deepmerge >= 0.1.0